// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  // margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}


//------ GENERAL ------//
// .box {
//   margin: auto;
//   padding: 0;
//   overflow: hidden;
//   box-shadow: 8px 0 5px -6px rgba(0, 0, 0, 0.06), -8px 0 5px -6px rgba(0, 0, 0, 0.06), 0 5px 35px -3px rgba(0, 0, 0, 0.2);
// }

body {
  margin-top: 0 !important;
  font-family: $font;
}

.feed-icons {
  display: none;
}

.container-fluid {
  padding: 0;
}
html,body
{
    width: 100%;
    // height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
//------ HEADER  ------//
header.navbar-default {
  // background-color: $main-color;
  border: none;
  border-radius: 0;
  text-align: center;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 10;
  border-top: 3px solid #db0000;

  .navbar-header {
    float: none;
  }

  .logo {
    // background-color: rgba(255,255,255,0.4);
    // padding-right: 8px;
    // padding-left: 2px;
    margin: 0;
    // padding: 0;
    padding: 20px;
    background-color: rgba(0,0,0,0.6);
    // border-radius: 4px;
    // margin-left: 20px;
    transition: all 0.2s ease;

    img {
      width: 100%;
      height: 100%;
      transition: all 0.2s ease;
    }
  }

  #block-contactheader {
    display: inline-block;
    float: right;
    // margin: 0px 80px 0px 0;
    // padding: 15px 30px;
    // background-color: $main-color;
    // border-radius: 20px;
    // color: white;
    // text-align: center;
    // font-size: 16px;
  
    a {
      padding: 15px 30px;
      // background-color: $main-color;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#db0000+0,b10000+36,720000+100 */
      background: rgb(219,0,0); /* Old browsers */
      background: -moz-linear-gradient(top,  rgba(219,0,0,1) 0%, rgba(177,0,0,1) 36%, rgba(114,0,0,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(219,0,0,1) 0%,rgba(177,0,0,1) 36%,rgba(114,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(219,0,0,1) 0%,rgba(177,0,0,1) 36%,rgba(114,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db0000', endColorstr='#720000',GradientType=0 ); /* IE6-9 */
      // border-radius: 4px;
      border-bottom: 3px outset $main-color;
      color: white;
      text-align: center;
      text-decoration: none;
      font-size: 18px;
      display: inline-block;
      width: 175px;
      -webkit-box-shadow: rgba(0,0,0,0.7) 3px 3px 10px;
      -moz-box-shadow: rgba(0,0,0,0.7) 3px 3px 10px;
      box-shadow: rgba(0,0,0,0.7) 3px 3px 10px;
      // transition: all 0.1s ease;

      &:hover, &:active, &:focus {
        background: white;
        color: rgb(219,0,0);
      }
    }
    .scrolled-contact {
      visibility: hidden;
      float: left;
    }
    .non-scrolled-contact {
      position: relative;
      top: -50px;
    }
  }

  #navbar-collapse {
    // overflow: hidden !important;
    // display: inline-block !important;
    #block-dyna-theme-main-menu {
      float: left;
      transition: all 0.2s ease;
      ul.menu.navbar-nav {
        // float: none;
        float: right;
        width: 100%;
        // display: block;
        display: inline-block;
        margin: auto;

        li {

          a {
            color: white;
            padding: 15px 44px;
            background-color: rgba(0,0,0,0.6);
            letter-spacing: 0.8px;
            font-size: 14px;
            text-transform: uppercase;

            &:hover, &:active, &:focus {
              background-color: $main-color !important;
              color: white !important;
            }
          }

          > ul {
            background-color: $main-color;
            > li > a {
              padding-top: 8px;
              padding-bottom: 8px;
              text-transform: capitalize;
              width: 98%;
              margin: auto;
            }
          } 
        }
      }
    }
  }

  &.scrolled {
    #navbar-collapse {
      height: 50px !important;
      background-color: rgba(0,0,0,0.9);
      a.logo {
        background-color: rgba(0, 0, 0, 0.9);
        padding: 3px;

        img {
          width: 150px;
          height: 43.5px;
        }
      }      
      #block-dyna-theme-main-menu {
        li {
          a {
            background-color: rgba(0, 0, 0, 0.9) !important;
          }

          ul > li > a {
            background-color: rgba(0, 0, 0, 0.5) !important;
          }
        }
      }
    }
    #block-contactheader a {
      height: 50px;
      width: 20px;
      border: 0;
      box-shadow: none;

      &:before {
        margin-left: -7px;
      }
    }
  }
}

.search-block-form {
  float: right;
  width: 250px;
}

//------ FOOTER  ------//

footer {
  background-color: $gray;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;

  h2 {
    font-size: 18px;
  }

  a {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: $main-color;
      background-color: transparent;
      font-weight: bold;
    }
  }

  #block-footersitebrandinginfo {
    text-align: center;
    .footer-logo {
      margin-bottom: 15px;
    }

    .contact-details {
      div {
        display: block;
        padding: 10px 0;
        span {
          font-weight: bold;
        }
      }
    }

    .addthis_inline_follow_toolbox_d4mw {
      display: inline-block;
      display: -webkit-inline-box;
    }
  }

  #block-footerkatastemata {
    margin-top: 0px;
    margin-bottom: 20px;

    h2 {
      margin-bottom: 16px;
      margin-top: 0;  
    }

    p {
      margin: 0 0 20px 0;
    }

    a {
      display: block;

      &:hover {
        text-decoration: none;
        color: $main-color;
        font-weight: bold;
      }

      &.address {
        font-weight: bold;

        &:before {
          font-family: "FontAwesome";
          content: "\f041";
          margin-right: 5px;
        }
      }

      &.phone {
        &:before {
          font-family: "FontAwesome";
          content: "\f095";
          margin-right: 5px;
        }
      }

      &.email {
        &:before {
          font-family: "FontAwesome";
          content: "\f0e0";
          margin-right: 5px;
        }
      }
    }
  }

  #block-kentrikeploegese {
    margin-top: 0;
    h2 {
      margin-top: 0;
    }
    // margin-bottom: 10px;
    ul {
      li {
        display: block;
        width: 100%;
        a {
          padding: 5px;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }

  #block-prosphores {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    h2 {
      padding: 8px;
    }
    a {
      color: $main-color;
      font-weight: bold;
      padding: 8px;

      &:hover, &:focus, &:active {
        background-color: $main-color !important;
        color: white !important;
        font-weight: normal;
      }
    }
  }

  #block-dyna-theme-footer {
    font-weight: normal;
    margin-top: 25px;
    li {
      display: inline-block;
      width: 50%;
      a {
        padding: 5px;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

#block-mailchimpsubscriptionformnewsletter {
  width: 60%;
  margin: auto;
  text-align: left;
  label.control-label {
    display: none;
  }
  #mailchimp-newsletter-a893a76dc9-mergefields {
    float: left;
    #edit-mergevars-email {
      border-radius: 0;
      border: none;
    }
  }
  #edit-actions {
    float: left;
    button {
      font-weight: bold;
      font-size: 22px;
      padding: 0.4px 9px;
      display: inline-block;
      text-decoration: none;
      background: linear-gradient(to bottom, #db0000 0%, #b10000 36%, #720000 100%);
      color: white;
      // border: none;
      border-radius: 0;
      margin: 0;
    }
  }
}

#block-orarioleitoyrgias {
  p {
    margin-bottom: 3px;
    span {
      color: $main-color;
      font-size: 16px;
    }
  }
}

//------ AFTER-FOOTER  ------//
.after-footer {
  background-color: rgba(0, 0, 0, 0.95);
  text-align: center;
  padding: 10px;
  color: white;

  a {
    color: $main-color;
    font-weight: bold;

    &:hover, &:focus, &:active {
      color: white;
      text-decoration: none;
      font-size: 16px;
      padding: 3px;
    }
  }
}